.MenuRoot {
  width: 100%;
  height: 100%;
  max-height: 850px;
}
.MenuRoot2 {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  horizontal-align: left;
  vertical-align: bottom;
  flow-children: right;
}

.MenuContainer {
  background-image: url("s2r://panorama/images/hud/reborn/main_shop_bg_psd.vtex");
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  vertical-align: bottom;
  flow-children: right;
}

.SideNav {
  width: 275px;
  height: 100%;
  flow-children: down;
  padding: 50px 15px;
  background-color: gradient(linear, 0% 0%, 0% 25%, from(#232326), to(#1c1d20));
  box-shadow: #00000099 0px 0px 8px 0px;
  border: 2px solid #32383677;
}
/* Show Hide Button*/
.ShowHideButton {
  width: 80px;
  height: 50px;
  background-color: gradient(linear, 0% 0%, 0% 15%, from(#232326), to(#434446));
}
/* Button*/
.ButtonContainer {
  width: 50%;
  height: 100%;
  max-height: 50px;
  horizontal-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #32383677;
}
.ButtonContainer:hover {
  border-bottom: 1px solid #828a8777;
}

.ButtonText:hover {
  color: white;
}
.ButonText:active {
  color: white;
}
.ButtonText {
  width: 100%;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: #c0c0c0;
  font-size: 24;
  text-transform: uppercase;
}
.ButtonPanel {
  width: 100%;
  height: 10%;
}
/* Page */
.PageContentContainer {
  width: 100%;
  height: 100%;
}
.PageContainer {
  width: 100%;
  height: 100%;
  flow-children: down;
}

.PageOptions {
  height: 100%;
  max-height: 50px;
  flow-children: right;
  horizontal-align: left;
  vertical-align: center;
  padding: 0px 20px;
  margin-top: 10px;
}

.Option {
  vertical-align: center;
  margin-right: 15px;
  padding: 1px;
  background-color: #1a1a1a;
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #808a9246;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px solid;
}
.Option:hover {
  border: 1px solid #808a9246;
}

.PageContent {
  width: 100%;
  height: 100%;
  border-top: 1px solid #808a9246;
  padding: 20px;
  /* background-color: #212931;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#212931), to(black)); */
}
.SelectedOptionContainer {
  width: 100%;
  height: 100%;
  padding: 0px 50px 0px 20px;
  flow-children: down;
}

.LaunchButton {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 50px;
  vertical-align: bottom;
  horizontal-align: left;

  margin-bottom: 15px;
  border-bottom: 1px solid #32383677;
  text-align: center;
}
.FinishButton {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 50px;
  vertical-align: bottom;
  horizontal-align: right;

  margin-bottom: 15px;
  border-bottom: 1px solid #70202077;
  text-align: center;
  visibility: collapse;
}
.FinishButton Label {
  color: red;
}

/* Form */
.Form {
  width: 100%;
  height: 90%;
  flow-children: down;
}
.FormOptionTitle {
  width: 100%;
  vertical-align: center;
  color: #c0c0c0;
  font-size: 24;
  margin-bottom: 10px;
}
.RadioBtn {
  /* background-color: white; */
  max-width: 80px;
  width: 100%;
}
.RadioBtn Label {
  color: #bdbdbd;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  horizontal-align: center;
}
.RadioBtn:hover Label {
  color: white;
}
.RadioBtn:selected Label {
  color: white;
  text-shadow: #a2afda1e 0px 0px 12px -8px;
}

.RadioBtnGroup {
  width: 100%;
  flow-children: right;
}

.ResultBoard {
  width: 250px;
  height: 200px;
  ignore-parent-flow: true;
  position: 85% 15% 10px;
  flow-children: down;
  visibility: collapse;
}
.ResultBoard Label {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24;
  text-transform: uppercase;
  margin-bottom: 5px;
  box-shadow: #0b793d3f 0px 0px 0px 0px;
  border-radius: 30px;
  text-align: left;
  padding-left: 20px;
}
.Timer {
  ignore-parent-flow: true;
  width: 75px;
  height: 75px;
  position: 50% 25% 10px;

  color: rgb(255, 255, 255);
  font-size: 64;
  text-transform: uppercase;
  text-align: left;
}
/* Table */

VerticalScrollBar,
HTMLVerticalScrollBar {
  width: 8px;
  margin: 0px, 8px, 0px 8px;
  border-radius: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  horizontal-align: right;
  vertical-align: center;
  transition-property: transform;
  layout-position: fixed;
  background-color: #111313;
}

VerticalScrollBar .ScrollThumb,
HTMLVerticalScrollBar .ScrollThumb {
  width: 8px;
  min-height: 32px;
  background-color: #555555;
  border-top: 1px solid #aaaaaa22;
  border-right: 1px solid #000000aa;
  transition-property: position;
  transition-property: background-color, transform;
  transition-duration: 0.01s;
  transition-timing-function: linear;
}

.TableContainer {
  width: 100%;
  height: 90%;
  flow-children: down;
}

.TableHeader {
  width: 100%;
  height: 7.5%;
  flow-children: right;
  border-bottom: 1px solid #828a8777;
  margin-bottom: 20px;
}
.TableHeader Label {
  horizontal-align: center;
  vertical-align: center;
  color: #c0c0c0;
  font-size: 20;
  text-transform: uppercase;
}
.TableBody {
  width: 100%;
  height: 88%;
  flow-children: down;
  overflow: squish scroll;
  border-bottom: 1px solid #828a8777;
}
.TableRow {
  width: 100%;
  height: 60px;
  flow-children: right;
  border-bottom: 1px solid #32383677;
  border-radius: 10px;
}
.TableRow:hover Label {
  color: rgb(255, 255, 255);
}
.TableCell {
  height: 100%;
  horizontal-align: center;
}
.TableRow Label {
  color: #c0c0c0;
  font-size: 18;
}
.PlaceCol {
  width: 50px;
  height: 20px;
  vertical-align: center;
  text-align: justify;
}

.PlayerCol {
  width: 400px;
}
.PlayerCol DOTAUserName {
  vertical-align: center;
}
.ResultCol {
  width: 150px;
  height: 20px;
  vertical-align: center;
  text-align: justify;
}
.AvgTimeCol {
  width: 150px;
  height: 20px;
  vertical-align: center;
  text-align: justify;
}
.StreakCol {
  width: 150px;
  height: 20px;
  vertical-align: center;
  text-align: justify;
}
.KilledWardCol {
  width: 150px;
  height: 20px;
  vertical-align: center;
  text-align: justify;
}
